
<div class="d-flex flex-column flex-root">
    <div class="d-flex flex-row flex-column-fluid page">
        <app-sidebar></app-sidebar>
        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
         <app-top></app-top>
            <!--begin::Content-->
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <!--begin::Subheader-->
                <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
                    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                        <!--begin::Info-->
                        <div class="d-flex align-items-center flex-wrap mr-2">
                            <!--begin::Page Title-->
                            <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Prospeccion</h5>
                            <!--end::Page Title-->
                            <!--begin::Actions-->
                            <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
                            <span class="text-muted font-weight-bold mr-4">#XRS-45670</span>
                            <a href="#" class="btn btn-light-warning font-weight-bolder btn-sm">Add New</a>
                            <!--end::Actions-->
                        </div>
                        <!--end::Info-->
                        
                    </div>
                </div>
                <!--end::Subheader-->
                <!--begin::Entry-->
                <div class="d-flex flex-column-fluid">
                    <!--begin::Container-->
                    <div class="container">
                        <div class="d-flex flex-row">
                            <!--begin::Aside-->
                        <app-aside-cliente></app-aside-cliente>
                            <!--end::Aside-->
                            <!--begin::Content-->
                            <div class="flex-row-fluid ml-lg-8">
                                <!--begin::Card-->
                                <div class="card card-custom">
                                    <!--begin::Header-->
                                    <div class="card-header py-3">
                                        <div class="card-title align-items-start flex-column">
                                            <h3 class="card-label font-weight-bolder text-dark">Llamadas del cliente </h3>
                                            <span class="text-muted font-weight-bold font-size-sm mt-1">Lorem ipsum dolor sit amet consectetur, adipisicing </span>
                                        </div>
                                        <div class="card-toolbar">
                                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                                <a [routerLink]="[ '/cliente/buyer/'+id+'/prospeccion/' ]" class="btn btn-danger">Actividades</a>
                                                <a [routerLink]="[ '/cliente/buyer/'+id+'/prospeccion/interes' ]" class="btn btn-warning">Intereses</a>
                                                <a [routerLink]="[ '/cliente/buyer/'+id+'/prospeccion/llamadas' ]" class="btn btn-success">Llamadas</a>
                                                <a [routerLink]="[ '/cliente/buyer/'+id+'/prospeccion/correos' ]" class="btn btn-info">Correos</a>
                                                <a [routerLink]="[ '/cliente/buyer/'+id+'/prospeccion/tareas' ]" class="btn btn-dark">Tareas</a>

                                              </div>
                                        </div>
                                    </div>
                                    <!--end::Header-->
                                    <!--begin::Form-->
                                    <div class="card-body">
                                        <a class="btn btn-info font-weight-bolder font-size-sm mr-3" style="cursor: pointer;" data-toggle="modal" [attr.data-target]="'#modalLlamada'">
                                            Nueva llamada
                                        </a>
                                        
                                        <hr class="mb-5">
                                        
                                        <div class="mb-3" *ngFor="let item of llamadas | slice:(page-1) * pageSize:(page-1) * pageSize + pageSize">
                                            <!--begin::Content-->
                                            <div class="d-flex align-items-center flex-grow-1">
                                              
                                                <!--begin::Section-->
                                                <div class="d-flex flex-wrap align-items-center justify-content-between w-100">
                                                    <!--begin::Info-->
                                                    <div class="d-flex flex-column align-items-cente py-2 w-75">
                                                        <!--begin::Title-->
                                                        <a class="text-dark-75 font-weight-bold text-hover-primary font-size-lg mb-1">
                                                            {{item.resultado}}
                                                            &nbsp; | &nbsp;
                                                            {{item.asesor.nombres}} {{item.asesor.apellidos}}
                                                        </a>
                                                        <!--end::Title-->
                                                        <!--begin::Data-->
                                                        <span class="text-muted font-weight-bold">
                                                          {{item.fecha}} {{item.hora}}
                                                        </span>
                                                        <span class="text-muted font-weight-bold" *ngIf="item.nota">
                                                            {{item.nota}}
                                                        </span>
                                                        <!--end::Data-->
                                                    </div>
                                                    <!--end::Info-->
                                                    <!--begin::Label-->
                                                    <span class="label label-lg label-light-primary label-inline font-weight-bold py-4"> {{item.createdAT|date}}</span>
                                                    <!--end::Label-->
                                                </div>
                                                <!--end::Section-->
                                        
                                            </div>
                                            <!--end::Content-->
                                        </div>
                                        <ngb-pagination [collectionSize]="llamadas.length" [pageSize]="pageSize" [(page)]="page" [maxSize]="10" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
                                     
                                        
                                    </div>
                                    <!--end::Form-->
                                </div>
                            </div>
                            <!--end::Content-->
                        </div>
                        
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Entry-->
            </div>
            <!--end::Content-->
            <!--begin::Footer-->
      
            <!--end::Footer-->
        </div>
    </div >
</div>

<!-- /// MODAL -->

<div class="modal fade" id="modalLlamada" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar nueva llamada</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="card-body">
                <h3 class="font-size-lg text-dark font-weight-bold mb-6">1. General:</h3>
                <div class="mb-15">
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label">Fecha (*):</label>
                        <div class="col-lg-8">
                            <input type="date" class="form-control" name="fecha" [(ngModel)]="llamada.fecha"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label">Resultado (*):</label>
                        <div class="col-lg-8">
                            <select class="form-control" name="resultado" [(ngModel)]="llamada.resultado">
                                <option value="" selected disabled>Seleccionar</option>
                                <option value="Ocupado">Ocupado</option>
                                <option value="Conectado">Conectado</option>
                                <option value="Dejo un mensaje">Dejo un mensaje</option>
                                <option value="Sin respuesta">Sin respuesta</option>
                                <option value="N° Incorrecto">N° Incorrecto</option>
                                <option value="Proxima llamada">Proxima llamada</option>
                                <option value="Venta cerrada">Venta cerrada</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label">Hora (*):</label>
                        <div class="col-lg-8">
                            <ngb-timepicker  [(ngModel)]="time"></ngb-timepicker>
                        </div>
                    </div>
                    <div class="form-group row">
                       <div class="col-lg-12">
                        <textarea class="form-control" rows="4" placeholder="Alguna nota o información"  name="nota" [(ngModel)]="llamada.nota" ></textarea>
                       </div>
                    </div>
                </div>
        
              
        
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Cerrar</button>
                <button *ngIf="!btn_load" type="button" class="btn btn-primary font-weight-bold" (click)="registrar()">Crear</button>
                <button *ngIf="btn_load" type="button" class="btn btn-primary font-weight-bold spinner spinner-white spinner-left">
                    Creando
                </button>
            </div>
        </div>
    </div>
</div>
registrar()