
<div class="d-flex flex-column flex-root" style="height: 100vh !important;">
    <!--begin::Login-->
    <div class="login login-signin-on login-2 d-flex flex-row-fluid" id="kt_login" style="background: #a88e8e;">
        <div class="d-flex flex-center bgi-size-cover bgi-no-repeat flex-row-fluid">
            <div class="login-form text-center  p-7 position-relative overflow-hidden">
                <!--begin::Login Header-->
                <div class="d-flex flex-center mb-15">
                    <a href="#">
                        <img src="assets/media/logos/logo-letter-9.png" class="max-h-100px" alt="" />
                    </a>
                </div>
                <!--end::Login Header-->
                <!--begin::Login Sign in form-->
                <div class="login-signin">
                    <div class="mb-20">
                        <h3>Panel Administrador</h3>
                        <p class="opacity-60 font-weight-bold">Ingresa a tu cuenta de colaborador</p>
                    </div>
                    <form class="form">
                        <div class="form-group">
                            <input class="form-control h-auto  placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-0 py-4 px-8 mb-5" type="text" placeholder="Email" name="email" [(ngModel)]="user.email" autocomplete="off" required />
                        </div>
                        <div class="form-group">
                            <input class="form-control h-auto  placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-0 py-4 px-8 mb-5" type="password" placeholder="Password" name="password" [(ngModel)]="user.password" autocomplete="off" required/>
                        </div>
                    
                        <div class="form-group text-center mt-10">
                            <button type="button" (click)="login()" id="kt_login_signin_submit" class="btn btn-pill btn-primary font-weight-bold opacity-90 px-15 py-3"> Ingresar</button>
                        </div>
                    </form>
                    
                </div>
                <!--end::Login Sign in form-->
        
                <!--begin::Login forgot password form-->
            
                <!--end::Login forgot password form-->
            </div>
        </div>
    </div>
    <!--end::Login-->
</div>